:root {
    --main-width: 400px;
    --h1-size: 55px;
    --h2-size: 35px;
    --h3-size: 26px;
    --p-size: 20px;
    --square-font-size: 50px;
     
    --text-color: rgb(108, 99, 91);
    --title-color: rgb(233, 136, 101);
}



.color_codes {
    color: rgb(219, 209, 180);     /*2*/
    color: rgb(220, 201, 137);     /*4*/
    color: rgb(232, 177, 105);    /*8*/
    color: rgb(236, 158, 129); ;     /*16*/
    color: rgb(239, 156, 174); ;     /*32*/
    color: rgb(212, 166, 223);     /*64*/
    color: rgb(186, 198, 255);    /*128*/
    color: rgb(165, 224, 210);     /*256*/
    color: rgb(184, 219, 143);     /*512*/
    color: rgb(237, 126, 126);     /*1024*/
    color: rgb(198, 103, 159);   /*2048*/
    color: rgb(106, 117, 188);  /*4096*/
    color: rgb(92, 172, 94);    /*8192*/
    color: rgb(216, 185, 60); 
    color: rgb(160, 37, 37); 
    color: rgb(112, 24, 127);

    color: rgb(243, 235, 211);
}

h1 {
    color: var(--title-color);
    font-size: var(--h1-size);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    margin: 0px;
}

h2 {
    color: var(--text-color);
    font-size: var(--h2-size);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    margin: 0px;
}

h3 {
    color: var(--text-color);
    font-size: var(--h3-size);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    margin: 0px;
}

p {
    color: var(--text-color);
    font-size: var(--p-size);
    font-family: Calibri, sans-serif;
    margin: 0px;
    /* margin-left: 10px;
    margin-right: 10px; */
}



button {
    background-color: rgb(236, 230, 208);
    font-size: var(--h3-size);
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 2%;
    color: var(--text-color);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(16, 12, 6, 0.2);
    height: 10%;
}

button:hover {
    background-color: rgb(225, 219, 198);
}

button:active {
    background-color: rgb(225, 219, 198);
    transform: translate(0px, 1px);
    box-shadow: 1px 0px 1px 1px rgba(16, 12, 6, 0.2);
    
}

.smallButton {
    height: fit-content;
    font-weight: none;
    font-size: var(--p-size);
    margin-top: 0px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(18, 15, 12, 0.15);
}

#menu_button {
    margin: 0px;
}

#scores_button {
    display: none;
}

.row {
    display: flex;
    align-items: left;
    justify-content: center; 
}

.row_split {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.center {
    text-align: center;
    align-items: center;
}

.left {
    text-align: left;
    align-items: left;
    justify-content: left; 
}

.right {
    text-align: right;
    align-items: right;
    justify-content: right; 
}

#game_border {
    width: var(--main-width);
    height: var(--main-width);
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#game_border:focus {
    outline: none;
}

.section {
    width: var(--main-width);
    margin:auto;
}

#container_border {
    width: var(--main-width);
    height: var(--main-width);
    background-color: rgb(161, 145, 128);
    border-radius: 4px;
    display: flex;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container {
    width: var(--main-width);
    height: var(--main-width);
    top: 3.5%;
    left: 3.5%;
    position: absolute;
    align-self: center;
}

.background_square {
    width: 21%;
    height: 21%;
    background-color: rgb(179, 162, 144);
    border-radius: 4px;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.square {
    visibility: hidden;
    width: 21%;
    height: 21%;
    border-radius: 4px;
    position: absolute;
    top: 0%; 
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rbg(255, 248, 230);
    color:  rgb(141, 126, 107);
    font-size: var(--square-font-size);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
}

.number {
    pointer-events: none;
    color: white;
}

.menu {
    display: none;
    z-index: 3;
    background-color: rgb(243, 236, 215);
    width: 80%;
    position: relative;
    left: 5%;
    top: 5%;
    border-radius: 15px;
    padding: 2%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
    align-items: center;
    align-self: auto;
}

.sub_menu {
    visibility: hidden;
    z-index: 4;
    background-color: rgb(234, 226, 195);
    width: 70%;
    position: absolute;
    left: 10%;
    top: 10%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    align-self: center;
}

.score_list {
    /* background-color: beige; */
    border-radius: 15px;
    padding: 2%;
    /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5); */
}

#leaderboardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--text-color);
    font-size: var(--p-size);
    font-family: Calibri, sans-serif;
}

.slide { 
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

@keyframes mergeAnimation {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes medMergeAnimation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes largeMergeAnimation {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes appearAnimation {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes indicateAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        background-color: blue;
    }
    100% {
        transform: scale(1.3);
        background-color: black;
    }
}
@keyframes hideMenuAnimation {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes openMenuAnimation {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.hide_menu {
    animation: hideMenuAnimation 0.2s ease-in-out;
}
.open_menu {
    animation: openMenuAnimation 0.15s ease-in-out;
}
.appear {
    animation: appearAnimation 0.2s ease-in-out;
}
.merge {
    z-index: 2;
    animation: mergeAnimation 0.2s ease-in-out;
}
.mergeMed {
    z-index: 2;
    animation: medMergeAnimation 0.7s ease-in-out;
}
.mergeLarge {
    z-index: 2;
    animation: largeMergeAnimation 0.7s ease-in-out;
}
.indicate {
    animation: indicateAnimation 0.5s ease-in-out;
}


.square_4_digits {
    color: rgb(243, 235, 211);
    font-size: 250%;
}

.square_5_digits {
    color: rgb(243, 235, 211);
    font-size: 200%;
}


/* Full windows */
@media (min-width: 1200px) {
}
/* 1/2 windows */
@media (min-width: 486px) and (max-width: 1199px) {
}

/* 1/4 windows and mobile screens */
@media  (max-width: 485px) {
    :root {
        --main-width: 90vw;
        --h1-size: 12vw;
        --h2-size: 9vw;
        --h3-size: 7vw;
        --p-size: 5vw;
        --square-font-size: 12vw;

        /* todo remove: */
        --title-color: rgb(35, 150, 112);
    }

    #button {
        
        box-shadow: 0.4vw 0.4vw 0.4vw 0.4vw rgba(16, 12, 6, 0.2);
    }
    
    #bottom_lists {
        display: none;
    }
    #scores_button {
        display: block;
    }
    .square_4_digits {
        color: rgb(243, 235, 211);
        font-size: 9vw;
    }
    .square_5_digits {
        color: rgb(243, 235, 211);
        font-size: 7vw;
    }
}