:root {
    --main-width: 400px;
    --h1-size: 45px;
    --h2-size: 35px;
    --h3-size: 26px;
    --p-size: 20px;
    --square-font-size: 50px;
     
    --text-color: rgb(108, 99, 91);
    --title-color: black;
}

/* Mobile screen */
@media (max-width: 400px) {
    :root {
        --main-width: 300px;
        --h1-size: 45px;
        --h2-size: 35px;
        --h3-size: 26px;
        --p-size: 20px;
        --square-font-size: 50px;

        --title-color: rgb(237, 96, 136);
    }
}

/* 1/4 screen and small mobile screens */
@media (min-width: 401px) and (max-width: 575px) {
    :root {
        --main-width: 350px;
        --h1-size: 45px;
        --h2-size: 35px;
        --h3-size: 26px;
        --p-size: 20px;
        --square-font-size: 50px;

        --title-color: blue;
    }
}

/* 1/2 window and large mobile screens */
@media (min-width: 576px) and (max-width: 767px) {
    :root {
        --main-width: 400px;
        --h1-size: 45px;
        --h2-size: 35px;
        --h3-size: 26px;
        --p-size: 20px;
        --square-font-size: 50px;

        --title-color: purple;
    }
}

/* 3/4 window*/
@media (min-width: 768px) and (max-width: 1199px){
    :root {
        --main-width: 400px;
        --h1-size: 45px;
        --h2-size: 35px;
        --h3-size: 26px;
        --p-size: 20px;
        --square-font-size: 50px;

        --title-color: green;
    }
}

/* Full windows */
@media (min-width: 1200px) {
    :root {
        --main-width: 500px;
        --h1-size: 45px;
        --h2-size: 35px;
        --h3-size: 26px;
        --p-size: 20px;
        --square-font-size: 50px;
        
        --title-color: red;
    }
}


.color_codes {
    color: rgb(219, 209, 180);     /*2*/
    color: rgb(220, 202, 143);     /*4*/
    color: rgb(232, 180, 112);    /*8*/
    color: rgb(242, 157, 117); ;     /*16*/
    color: rgb(244, 147, 175); ;     /*32*/
    color: rgb(217, 158, 217);     /*64*/
    color: rgb(174, 152, 236);     /*128*/
    color: rgb(118, 194, 190);     /*256*/
    color: rgb(164, 188, 122);     /*512*/
    color: rgb(239, 97, 97);     /*1024*/
    color: red;     /*2048*/
    color: red;     /*4096*/
    color: lightgreen;     /*8192*/
}

h1 {
    color: var(--title-color);
    font-size: var(--h1-size);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    margin: 0px;
}

h2 {
    color: var(--text-color);
    font-size: var(--h2-size);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 0px;
}
h3 {
    color: var(--text-color);
    font-size: var(--h3-size);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    margin: 2px;
}

p {
    color: var(--text-color);
    font-size: var(--p-size);
    font-family: Calibri, sans-serif;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    background-color: rgb(236, 230, 208);
    font-size: var(--h3-size);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
}

button:hover {
    background-color: rgb(245, 232, 190);   
}

button:active {
    background-color: rgb(232, 180, 112);
}

.exitButton {
    height: fit-content;
    font-weight: none;
    font-size: var(--p-size);
    margin-top: 0px;
    border: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.row_split {
    display: flex;
    justify-content: space-between; 
}

.center {
    text-align: center;
    align-items: center;
}

.left {
    text-align: left;
    align-items: left;
    justify-content: left; 
}

.right {
    text-align: right;
    align-items: right;
    justify-content: right; 
}

#game_border {
    width: var(--main-width);
    margin-top: 50px;
    margin:auto;
}
#game_border:focus {
    outline: none;
}

.section {
    width: var(--main-width);
    margin-top: 50px;
    margin:auto;
}

#container_border {
    width: var(--main-width);
    aspect-ratio: 1 / 1;
    background-color: rgb(161, 145, 128);
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container {
    width: var(--main-width);
    top: 2.6%;
    left: 2.6%;
    aspect-ratio: 1 / 1;
    position: absolute;
    align-self: center;
    overflow: hidden;
}

.square {
    visibility: hidden;
    width: 22%;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    position: absolute;
    top: 0%; 
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(155, 141, 124);
    font-size: var(--square-font-size);
    font-family: Calibri, sans-serif;
    font-weight: bolder;
}

.background_square {
    width: 22%;
    aspect-ratio: 1 / 1;
    background-color: rgb(179, 162, 144);
    border-radius: 4px;
    position: absolute;
    top: 0%; 
    left: 0%;
}

.menu {
    z-index: 3;
    background-color: beige;
    width: 75%;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 15px;
    margin: 10% auto;
    padding: 2%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.sub_menu {
    visibility: hidden;
    z-index: 4;
    background-color: rgb(234, 226, 195);
    width: 65%;
    aspect-ratio: 0;
    position: absolute;
    left: 15%;
    top: 10%;
    border: solid;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.score_list {
    /* background-color: beige; */
    border-radius: 15px;
    padding: 10px;
    /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5); */
}

.textbox {
    /* z-index: 4; */
    background-color: white;
    border-radius: 4px;
    color: var(--text-color);
    font-size: var(--p-size);
    font-family: Calibri, sans-serif;
    width: 80%;
}

.slide { 
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

@keyframes mergeAnimation {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes appearAnimation {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes indicateAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        background-color: blue;
    }
    100% {
        transform: scale(1.3);
        background-color: black;
    }
}

@keyframes hideMenuAnimation {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}

.hide_menu {
    animation: hideMenuAnimation 0.2s ease-in-out;
}
.appear {
    animation: appearAnimation 0.2s ease-in-out;
}

.merge {
    /* z-index: 2; */
    animation: mergeAnimation 0.2s ease-in-out;
}

.indicate {
    animation: indicateAnimation 0.5s ease-in-out;
}

.number {
    pointer-events: none;
    color: white;
}


